extends ../layout
block content
	.jumbotron.masthead(style="padding-bottom:0;margin-bottom:0;")
		.container
			.row(style="padding:50px 0;")
				each item in movies
					.col-md-3
						.thumbnail
							a(href="/detail/#{item._id}")
								img(src="#{item.poster}",alt="#{item.title}")
							.caption
								h4 #{item.title}
								p: a.btn.btn-default(href="/detail/#{item._id}",role="button") 观看预告片